<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.tetrabox.examples.statemachines.InterpretedStateMachines" xdsmlFilePath="/org.tetrabox.examples.statemachines.melange/src/org/tetrabox/examples/statemachines/melange/StateMachines.melange" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated InterpretedStateMachinesMT -->
    <package class="org.tetrabox.examples.statemachines.interpretedstatemachinesmt.almostuml.AlmostumlPackage" genModel="model-gen/InterpretedStateMachinesMT.genmodel" uri="http://org.tetrabox.examples.statemachines.interpretedstatemachinesmt/almostuml/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated InterpretedStateMachinesMT -->
    <package class="org.tetrabox.examples.statemachines.interpretedstatemachinesmt.statemachines.StatemachinesPackage" genModel="model-gen/InterpretedStateMachinesMT.genmodel" uri="http://org.tetrabox.examples.statemachines.interpretedstatemachinesmt/statemachines/" />
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated InterpretedStateMachinesMT -->
    <package class="org.tetrabox.examples.statemachines.interpretedstatemachinesmt.statemachines.almostuml.AlmostumlPackage" genModel="model-gen/InterpretedStateMachinesMT.genmodel" uri="http://org.tetrabox.examples.statemachines.interpretedstatemachinesmt/statemachines/almostuml/" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.tetrabox.examples.statemachines.StateMachinesMT" uri="http://org.tetrabox.examples.statemachines.statemachinesmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.tetrabox.examples.statemachines.StateMachinesMT" id="org.tetrabox.examples.statemachines.StateMachines" uri="statemachines" />
  </extension>
</plugin>
